.ourOffices {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  padding: 80px 0 0;
  background: url("src/img/background elements/BGElem_1.svg") no-repeat center
      bottom,
    #eee;
  & .wrapper {
    position: relative;
    min-height: 100vh;
  }
  &__map {
    position: absolute;
    width: 60%;
    top: 10%;
    left: 2%;

    .windmill {
      cursor: pointer;

      & .windmillElement {
        fill: #333;
        opacity: 0.5;
        transition: fill 0.3s, opacity 0.3s;

        &:hover,
        &.active {
          fill: $main-color;
          opacity: 1;
        }
      }
    }
  }

  &__texts {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 5%;
    margin-top: 50px;
  }

  &__title {
    width: 100%;
    color: $main-darker-color;
    letter-spacing: 1px;
    text-align: right;
    font-size: $section-title-fz;
  }

  &__list {
    align-self: flex-end;
    width: auto;
    margin-top: 50px;

    li {
      position: relative;
      color: #333;
      font-size: 4rem;
      line-height: 130%;
      text-align: right;
      list-style-type: disc;
      list-style-position: inside;
      direction: rtl;
      cursor: pointer;
      transition: color 0.3s;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 2px;
        background: $main-color;
        transition: width 0.3s;
      }

      &.active {
        color: $main-color;
      }

      &.active::after,
      &:nth-child(odd):hover,
      &:nth-child(odd):hover::after {
        width: 100%;
        color: $main-color;
      }

      &.ourOffices__list-adress {
        display: none;
        margin: 10px 50px 0 0;
        font-size: 2rem;
        direction: ltr;
        list-style-type: none;
        cursor: default;

        a {
          color: $main-color;
        }

        &.showAdress {
          display: block;
        }
      }
    }
  }

  .fa-arrow-up-right-from-square {
    margin-left: 10px;
    font-size: 1.75rem;
  }

  @media screen and (max-width: $desktop-media) {
    &__map {
      position: absolute;
      width: 60%;
      top: 15%;
    }

    &__list {
      li {
        &.ourOffices__list-adress {
          font-size: 1.75rem;
        }
      }
    }
  }

  @media screen and (max-width: $small-screen-media) {
    &__list {
      li {
        &.ourOffices__list-adress {
          font-size: 1.5rem;
        }
      }
    }
  }

  @media screen and (max-width: $tablets-media) {
    &__map {
      width: 60%;
      top: 2%;
      left: 50%;
      transform: translateX(-50%);
    }

    &__texts {
      right: auto;
      left: 13%;
      top: 52%;
    }

    &__title {
      text-align: left;
      font-size: 3.5rem;
    }

    &__list {
      align-self: flex-start;
      margin-top: 18px;
      padding-left: 20px;

      li {
        font-size: 3rem;
        text-align: left;
        direction: ltr;

        &.ourOffices__list-adress {
          margin: 10px 0;
          font-size: 1.75rem;
        }
      }
    }
  }

  @media screen and (max-width: 800px) {
    &__map {
      width: 70%;
    }
  }

  @media screen and (max-width: 700px) {
    &__map {
      width: 80%;
    }
  }

  @media screen and (max-width: 550px) {
    min-height: auto;

    & .wrapper {
      min-height: auto;
    }

    &__map {
      position: static;
      width: 70%;
      margin: 20px auto 0;
      transform: translateX(0);
    }

    &__texts {
      position: static;
      padding: 0 8% 150px;
      margin-top: 10px;

      li {
        position: relative;
      }
    }
  }

  @media screen and (max-width: $mobile-media) {
    &__map {
      width: 85%;
    }

    &__title {
      font-size: 2rem;
    }

    &__list {
      li {
        font-size: 1.5rem;

        &.ourOffices__list-adress {
          margin: 0 0 5px;
          font-size: 1.15rem;
        }

        .fa-arrow-up-right-from-square {
          margin-left: 5px;
          font-size: 1.15rem;
        }
      }
    }
  }
}
