.realizations {
  padding: 100px 0 50px;
  min-height: 90vh;
  background: url("src/img/background elements/BGElem_4.svg") no-repeat center
    top;

  .wrapper {
    text-align: center;
    // background: red;
  }

  &__title {
    @include section-title;
    color: $main-darker-color;
  }

  &__slider {
    position: relative;
    margin: 0 auto;
    width: 75%;
    height: 550px;
    border-radius: 20px;
    overflow: hidden;

    .sliderInfo {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 20px 25px;
      color: #fff;
      text-align: left;
      background: linear-gradient(
        to top,
        $main-color,
        rgba(0, 150, 255, 0.8),
        transparent
      );
      z-index: 2;

      &__title {
        margin-bottom: 5px;
        font-size: 2rem;
        letter-spacing: 1px;
      }

      &__paragraph {
        font-size: 1.4rem;
        line-height: 120%;
        letter-spacing: 1px;
      }

      &__navBar {
        display: flex;
        justify-content: center;
        margin-top: 15px;

        .sliderDot {
          width: 8px;
          height: 8px;
          margin: 0 10px;
          border-radius: 50%;
          background: rgb(255, 255, 255, 0.5);
          cursor: pointer;
          transition: transform 0.5s, background-color 0.5s;

          &.active {
            transform: scale(1.5);
            background: rgb(255, 255, 255, 1);
          }
        }
      }
    }

    .sliderContainer {
      height: 100%;
      width: 100%;
      background: $main-color;

      img {
        display: none;
        height: 100%;
        width: 100%;
        background: $main-color;

        &.active {
          display: block;
          animation: fadeIn 2s;
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
