[data-showsection="hide"] {
  opacity: 0;
}

.showElement {
  animation: showElement 1s;
}

@keyframes showElement {
  from {
    transform: translateY(80px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
