$main-color: #0096ff;
$main-lighter-color: #5ebbfd;
$main-darker-color: #0354ab;

$mobile-media: 500px;
$tablets-media: 900px;
$small-screen-media: 1024px;
$desktop-media: 1200px;

$section-title-fz: 5rem;
$section-paragraph-fz: 3rem;

@mixin section-title {
  margin: 50px 0;
  letter-spacing: 1px;
  font-size: $section-title-fz;
  text-align: center;
}

@mixin section-paragraph {
  margin: 50px auto;
  width: 80%;
  letter-spacing: 1px;
  text-align: left;
  word-break: normal;
  line-height: 130%;
  font-size: $section-paragraph-fz;
}
