.windmillTypes {
  min-height: 90vh;
  padding: 50px 0;
  background: linear-gradient(to bottom, $main-color, $main-darker-color);

  &__title {
    color: #fff;
    @include section-title;
  }

  &__paragraph {
    color: #fff;
    @include section-paragraph;
  }

  &__photo {
    margin: 75px auto 50px;
    width: 70%;

    img {
      width: 100%;
    }
  }
}
