@import "_variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 10px;
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.wrapper {
  max-width: 1240px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #000;
}

@import "_header.scss";
@import "_ourOffices.scss";
@import "_whyUs.scss";
@import "_offers.scss";
