* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  font-size: 10px;
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.wrapper {
  max-width: 1240px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

.mainWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #f3f3f3;
  -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 80px;
}
.header__logo, .header__button {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}
.header__logo a {
  width: 100%;
  height: 100%;
  padding: 10px 0;
  text-align: center;
}
.header__logo a img {
  height: 100%;
}
.header__nav {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 40px;
}
.header__nav ul li a {
  display: block;
  height: 100%;
  padding: 8px 12px;
  color: #333;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 2px #333 solid;
  -webkit-transition: color 0.3s, border-color 0.3s;
  transition: color 0.3s, border-color 0.3s;
}
.header__nav ul li a:hover {
  color: #0096ff;
  border-color: #0096ff;
}
.header__nav ul li a.onClick a {
  color: #0096ff;
  border-color: #0096ff;
}
.header__button button {
  padding: 10px 10px;
  font-size: 1.4rem;
  border: 2px #333 solid;
  border-radius: 20px;
  background: transparent;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: color 0.2s, border-color 0.2s, background-color 0.2s;
  transition: color 0.2s, border-color 0.2s, background-color 0.2s;
}
.header__button button:hover {
  color: #fff;
  border-color: #0096ff;
  background: #0096ff;
}
.header__button-mobile {
  display: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header__button-mobile button {
  padding: 10px 10px;
  font-size: 1.4rem;
  border: 2px #333 solid;
  border-radius: 20px;
  background: transparent;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: color 0.2s, border-color 0.2s, background-color 0.2s;
  transition: color 0.2s, border-color 0.2s, background-color 0.2s;
}
.header__button-mobile button:hover {
  color: #fff;
  border-color: #0096ff;
  background: #0096ff;
}
@media screen and (max-width: 1200px) {
  .header__button button {
    padding: 10px 5px;
    letter-spacing: 1px;
  }
}
@media screen and (max-width: 1024px) {
  .header__logo {
    height: 70px;
  }
  .header__nav ul {
    padding-right: 20px;
  }
  .header__nav ul li a {
    font-size: 1.2rem;
  }
  .header__button button {
    font-size: 1.2rem;
  }
  .header__button button:hover {
    color: #fff;
    border-color: #0096ff;
    background: #0096ff;
  }
}
@media screen and (max-width: 900px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #f3f3f3;
    -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
  }
  .header__nav {
    -ms-flex-preferred-size: 35px;
        flex-basis: 35px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 30px;
    height: 26px;
    cursor: pointer;
  }
  .header__nav-mobileBars {
    width: 35px;
    height: 2px;
    background: #333;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .header__nav-mobileBars::before {
    content: "";
    display: block;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    height: 2px;
    background: #333;
  }
  .header__nav-mobileBars::after {
    content: "";
    display: block;
    -webkit-transform: translateY(9px);
            transform: translateY(9px);
    height: 2px;
    background: #333;
  }
  .header__nav-mobileBars.activeMenu {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background: #fff;
    z-index: 1;
  }
  .header__nav-mobileBars.activeMenu::before {
    display: none;
    background: #fff;
  }
  .header__nav-mobileBars.activeMenu::after {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    background: #fff;
  }
  .header__nav-mobileBg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 150, 255, 0.9);
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
  }
  .header__nav-mobileBg.activeMenu {
    display: block;
  }
  .header__nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100vh;
    padding-right: 0;
  }
  .header__nav ul li {
    width: 50%;
    text-align: center;
  }
  .header__nav ul li a {
    padding: 20px 0;
    font-size: 2rem;
    color: #fff;
    border-color: #fff;
    opacity: 0.7;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  .header__nav ul li a:hover {
    opacity: 1;
    color: #fff;
    border-color: #fff;
  }
  .header__nav ul li:last-child a {
    border: none;
  }
  .header__button {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header__button button {
    padding: 10px;
  }
}
@media screen and (max-width: 500px) {
  .header__logo a {
    padding: 10px 20px;
  }
  .header__nav ul li a {
    font-size: 1.75rem;
  }
  .header__button {
    display: none;
  }
  .header__button-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__button-mobile button {
    font-size: 1.2rem;
    padding: 8px;
  }
}

.ourOffices {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  padding: 80px 0 0;
  background: url("src/img/background elements/BGElem_1.svg") no-repeat center bottom, #eee;
}
.ourOffices .wrapper {
  position: relative;
  min-height: 100vh;
}
.ourOffices__map {
  position: absolute;
  width: 60%;
  top: 10%;
  left: 2%;
}
.ourOffices__map .windmill {
  cursor: pointer;
}
.ourOffices__map .windmill .windmillElement {
  fill: #333;
  opacity: 0.5;
  -webkit-transition: fill 0.3s, opacity 0.3s;
  transition: fill 0.3s, opacity 0.3s;
}
.ourOffices__map .windmill .windmillElement:hover, .ourOffices__map .windmill .windmillElement.active {
  fill: #0096ff;
  opacity: 1;
}
.ourOffices__texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 5%;
  margin-top: 50px;
}
.ourOffices__title {
  width: 100%;
  color: #0354ab;
  letter-spacing: 1px;
  text-align: right;
  font-size: 5rem;
}
.ourOffices__list {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: auto;
  margin-top: 50px;
}
.ourOffices__list li {
  position: relative;
  color: #333;
  font-size: 4rem;
  line-height: 130%;
  text-align: right;
  list-style-type: disc;
  list-style-position: inside;
  direction: rtl;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.ourOffices__list li::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background: #0096ff;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
.ourOffices__list li.active {
  color: #0096ff;
}
.ourOffices__list li.active::after, .ourOffices__list li:nth-child(odd):hover, .ourOffices__list li:nth-child(odd):hover::after {
  width: 100%;
  color: #0096ff;
}
.ourOffices__list li.ourOffices__list-adress {
  display: none;
  margin: 10px 50px 0 0;
  font-size: 2rem;
  direction: ltr;
  list-style-type: none;
  cursor: default;
}
.ourOffices__list li.ourOffices__list-adress a {
  color: #0096ff;
}
.ourOffices__list li.ourOffices__list-adress.showAdress {
  display: block;
}
.ourOffices .fa-arrow-up-right-from-square {
  margin-left: 10px;
  font-size: 1.75rem;
}
@media screen and (max-width: 1200px) {
  .ourOffices__map {
    position: absolute;
    width: 60%;
    top: 15%;
  }
  .ourOffices__list li.ourOffices__list-adress {
    font-size: 1.75rem;
  }
}
@media screen and (max-width: 1024px) {
  .ourOffices__list li.ourOffices__list-adress {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 900px) {
  .ourOffices__map {
    width: 60%;
    top: 2%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .ourOffices__texts {
    right: auto;
    left: 13%;
    top: 52%;
  }
  .ourOffices__title {
    text-align: left;
    font-size: 3.5rem;
  }
  .ourOffices__list {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-top: 18px;
    padding-left: 20px;
  }
  .ourOffices__list li {
    font-size: 3rem;
    text-align: left;
    direction: ltr;
  }
  .ourOffices__list li.ourOffices__list-adress {
    margin: 10px 0;
    font-size: 1.75rem;
  }
}
@media screen and (max-width: 800px) {
  .ourOffices__map {
    width: 70%;
  }
}
@media screen and (max-width: 700px) {
  .ourOffices__map {
    width: 80%;
  }
}
@media screen and (max-width: 550px) {
  .ourOffices {
    min-height: auto;
  }
  .ourOffices .wrapper {
    min-height: auto;
  }
  .ourOffices__map {
    position: static;
    width: 70%;
    margin: 20px auto 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .ourOffices__texts {
    position: static;
    padding: 0 8% 150px;
    margin-top: 10px;
  }
  .ourOffices__texts li {
    position: relative;
  }
}
@media screen and (max-width: 500px) {
  .ourOffices__map {
    width: 85%;
  }
  .ourOffices__title {
    font-size: 2rem;
  }
  .ourOffices__list li {
    font-size: 1.5rem;
  }
  .ourOffices__list li.ourOffices__list-adress {
    margin: 0 0 5px;
    font-size: 1.15rem;
  }
  .ourOffices__list li .fa-arrow-up-right-from-square {
    margin-left: 5px;
    font-size: 1.15rem;
  }
}

.whyUs {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#0354ab), to(#0096ff));
  background: linear-gradient(to bottom, #0354ab, #0096ff);
  padding: 150px 0;
}
.whyUs__title {
  margin: 50px 0;
  letter-spacing: 1px;
  font-size: 5rem;
  text-align: center;
  color: #fff;
}
.whyUs__paragraph {
  margin: 50px auto;
  width: 80%;
  letter-spacing: 1px;
  text-align: justify;
  line-height: 130%;
  font-size: 3rem;
  color: #fff;
}
.whyUs__motto {
  margin: 100px 100px 0 0;
  color: #5ebbfd;
  letter-spacing: 1px;
  font-size: 7rem;
  text-align: right;
}
@media screen and (max-width: 1024px) {
  .whyUs {
    padding: 100px 0;
  }
  .whyUs__title {
    font-size: 4rem;
  }
  .whyUs__paragraph {
    font-size: 2.5rem;
  }
  .whyUs__motto {
    font-size: 6rem;
  }
}
@media screen and (max-width: 900px) {
  .whyUs {
    padding: 50px 0;
  }
  .whyUs__title {
    font-size: 3rem;
  }
  .whyUs__paragraph {
    font-size: 2.5rem;
  }
  .whyUs__motto {
    font-size: 5rem;
  }
}
@media screen and (max-width: 750px) {
  .whyUs__motto {
    margin: 100px 50px 0 0;
    font-size: 4rem;
  }
}
@media screen and (max-width: 600px) {
  .whyUs__motto {
    margin: 100px 50px 0 0;
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 500px) {
  .whyUs {
    padding: 50px 0;
    min-height: 80vh;
  }
  .whyUs__title {
    font-size: 3rem;
  }
  .whyUs__paragraph {
    font-size: 2rem;
  }
  .whyUs__motto {
    font-size: 2.8rem;
  }
}
@media screen and (max-width: 400px) {
  .whyUs__title {
    font-size: 2.25rem;
  }
  .whyUs__paragraph {
    font-size: 1.15rem;
  }
  .whyUs__motto {
    margin: 0 auto;
    width: 80%;
    font-size: 2rem;
  }
}

.offers {
  min-height: 90vh;
  background: url("src/img/background elements/BGElem_2.svg") no-repeat center top, url("src/img/background elements/BGElem_3.svg") no-repeat center bottom, url("src/img/background elements/offer_bg_img.jpg") fixed center center;
}
.offers .wrapper {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.offers__block {
  -ms-flex-preferred-size: 28%;
      flex-basis: 28%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 75px 15px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
}
.offers__block-icon {
  height: 180px;
}
.offers__block-icon img {
  height: 90%;
}
.offers__block-title {
  margin: 20px 0;
  color: #0096ff;
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
}
.offers__block-paragraph {
  margin: 20p 0;
  color: #0354ab;
  text-align: center;
  font-size: 2rem;
}
@media screen and (max-width: 1200px) {
  .offers__block {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    padding: 75px 12px;
  }
  .offers__block-icon {
    height: 150px;
  }
}
@media screen and (max-width: 1024px) {
  .offers__block {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    padding: 75px 12px;
  }
  .offers__block-title {
    font-size: 2.5rem;
  }
  .offers__block-icon {
    height: 150px;
  }
}
@media screen and (max-width: 900px) {
  .offers {
    min-height: 100vh;
  }
  .offers .wrapper {
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 75px 0;
  }
  .offers__block {
    width: 70%;
    padding: 30px;
    margin: 30px 0;
  }
  .offers__block-title {
    margin: 40px 0 20px;
    font-size: 3rem;
  }
}
@media screen and (max-width: 500px) {
  .offers__block {
    width: 80%;
  }
  .offers__block-icon {
    height: 90px;
  }
  .offers__block-title {
    margin: 40px 0 20px;
    font-size: 2rem;
  }
  .offers__block-paragraph {
    font-size: 1.5rem;
  }
}

.windmillTypes {
  min-height: 90vh;
  padding: 50px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#0096ff), to(#0354ab));
  background: linear-gradient(to bottom, #0096ff, #0354ab);
}
.windmillTypes__title {
  color: #fff;
  margin: 50px 0;
  letter-spacing: 1px;
  font-size: 5rem;
  text-align: center;
}
.windmillTypes__paragraph {
  color: #fff;
  margin: 50px auto;
  width: 80%;
  letter-spacing: 1px;
  text-align: justify;
  line-height: 130%;
  font-size: 3rem;
}
.windmillTypes__photo {
  margin: 75px auto 50px;
  width: 70%;
}
.windmillTypes__photo img {
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .windmillTypes__title {
    font-size: 4rem;
  }
  .windmillTypes__paragraph {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 900px) {
  .windmillTypes__title {
    font-size: 3rem;
    padding: 0 30px;
  }
  .windmillTypes__paragraph {
    font-size: 2.5rem;
  }
  .windmillTypes__photo {
    width: 85%;
  }
}
@media screen and (max-width: 500px) {
  .windmillTypes__title {
    font-size: 3rem;
  }
  .windmillTypes__paragraph {
    font-size: 2rem;
  }
}
@media screen and (max-width: 400px) {
  .windmillTypes__title {
    font-size: 2.25rem;
  }
  .windmillTypes__paragraph {
    font-size: 1.15rem;
  }
}

.realizations {
  padding: 100px 0 50px;
  min-height: 90vh;
  background: url("src/img/background elements/BGElem_4.svg") no-repeat center top;
}
.realizations .wrapper {
  text-align: center;
}
.realizations__title {
  margin: 50px 0;
  letter-spacing: 1px;
  font-size: 5rem;
  text-align: center;
  color: #0354ab;
}
.realizations__slider {
  position: relative;
  margin: 0 auto;
  width: 75%;
  height: 550px;
  border-radius: 20px;
  overflow: hidden;
}
.realizations__slider .sliderInfo {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 25px;
  color: #fff;
  text-align: left;
  background: -webkit-gradient(linear, left bottom, left top, from(#0096ff), color-stop(rgba(0, 150, 255, 0.8)), to(transparent));
  background: linear-gradient(to top, #0096ff, rgba(0, 150, 255, 0.8), transparent);
  z-index: 1;
}
.realizations__slider .sliderInfo__title {
  margin-bottom: 5px;
  font-size: 2rem;
  letter-spacing: 1px;
}
.realizations__slider .sliderInfo__paragraph {
  font-size: 1.4rem;
  line-height: 120%;
  letter-spacing: 1px;
}
.realizations__slider .sliderInfo__navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}
.realizations__slider .sliderInfo__navBar .sliderDot {
  width: 8px;
  height: 8px;
  margin: 0 10px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  -webkit-transition: background-color 0.5s, -webkit-transform 0.5s;
  transition: background-color 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, background-color 0.5s;
  transition: transform 0.5s, background-color 0.5s, -webkit-transform 0.5s;
}
.realizations__slider .sliderInfo__navBar .sliderDot.active {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  background: rgb(255, 255, 255);
}
.realizations__slider .sliderContainer {
  height: 100%;
  width: 100%;
  background: #0096ff;
}
.realizations__slider .sliderContainer img {
  display: none;
  height: 100%;
  width: 100%;
  background: #0096ff;
}
.realizations__slider .sliderContainer img.active {
  display: block;
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
}
@media screen and (max-width: 1024px) {
  .realizations__title {
    font-size: 4rem;
  }
  .realizations__slider {
    width: 80%;
    height: 450px;
  }
}
@media screen and (max-width: 900px) {
  .realizations__title {
    font-size: 3rem;
  }
  .realizations__slider {
    width: 85%;
    height: 50vh;
  }
}
@media screen and (max-width: 700px) {
  .realizations__slider {
    width: 90%;
    height: 45vh;
  }
}
@media screen and (max-width: 500px) {
  .realizations__title {
    font-size: 2.25rem;
  }
  .realizations__slider {
    width: 100%;
    height: 40vh;
    border-radius: 0;
  }
  .realizations__slider .sliderInfo__title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  .realizations__slider .sliderInfo__paragraph {
    display: none;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.clients {
  padding-bottom: 50px;
}
.clients .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.clients__title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 50px auto;
  width: 80%;
  letter-spacing: 1px;
  text-align: justify;
  line-height: 130%;
  font-size: 3rem;
  margin-bottom: 30px;
  text-align: center;
  color: #333;
}
.clients__logo {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  height: 80px;
  text-align: center;
}
.clients__logo img {
  height: 100%;
  width: 100%;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  opacity: 0.7;
  cursor: pointer;
  -webkit-transition: opacity 0.3s, -webkit-filter 0.3s;
  transition: opacity 0.3s, -webkit-filter 0.3s;
  transition: filter 0.3s, opacity 0.3s;
  transition: filter 0.3s, opacity 0.3s, -webkit-filter 0.3s;
}
.clients__logo img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  opacity: 1;
}
@media screen and (max-width: 1200px) {
  .clients__logo {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
}
@media screen and (max-width: 900px) {
  .clients__title {
    font-size: 2.5rem;
  }
  .clients__logo {
    height: 60px;
  }
}
@media screen and (max-width: 600px) {
  .clients__logo {
    height: 50px;
  }
}
@media screen and (max-width: 500px) {
  .clients__title {
    font-size: 1.75rem;
  }
  .clients__logo {
    height: 35px;
  }
}

.footer {
  height: 100px;
  background: #0096ff;
}
.footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0;
}
.footer__logo img {
  width: 200px;
  padding: 0 20px;
}
.footer__logo p {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #fff;
  font-size: 1.4rem;
  line-height: 130%;
}
.footer__secondNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 75px;
}
.footer__secondNav ul {
  font-size: 1.5rem;
  margin: 0 20px;
}
.footer__secondNav ul li {
  margin: 5px 0;
}
.footer__secondNav ul li a {
  position: relative;
  width: 100%;
  color: #fff;
  letter-spacing: 1px;
}
.footer__secondNav ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #fff;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
.footer__secondNav ul li a:hover::after {
  width: 100%;
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px 0 0;
  text-align: center;
}
.footer__socials-title {
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: normal;
}
.footer__socials-icons {
  font-size: 2.5rem;
}
.footer__socials-icons a {
  margin: 0 15px;
  color: #5ebbfd;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.footer__socials-icons a:hover {
  color: #fff;
}
@media screen and (max-width: 1200px) {
  .footer {
    height: 150px;
  }
  .footer__logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__logo p {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}
@media screen and (max-width: 900px) {
  .footer {
    height: 150px;
  }
  .footer__logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__logo p {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .footer__secondNav {
    padding-right: 30px;
  }
}
@media screen and (max-width: 750px) {
  .footer {
    height: auto;
  }
  .footer .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 30px 0;
  }
  .footer__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 30px;
  }
  .footer__logo p {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .footer__secondNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__socials {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media screen and (max-width: 550px) {
  .footer__secondNav {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .footer__socials {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding-top: 30px;
    text-align: center;
  }
  .footer__socials-title {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 500px) {
  .footer__logo img {
    width: 50%;
  }
  .footer__logo p {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    font-size: 1.2rem;
  }
  .footer__socials-title {
    font-size: 1.25rem;
  }
  .footer__secondNav ul {
    font-size: 1.25rem;
  }
}

.mainWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 100vh;
}
.mainWrapper main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-top: 80px;
  overflow: hidden;
}
.mainWrapper main .subpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainWrapper main .subpage__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  position: relative;
  width: 50%;
  z-index: 1;
}
.mainWrapper main .subpage__image::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: translate(20px, 20px);
          transform: translate(20px, 20px);
  background: #0096ff;
  z-index: -1;
}
.mainWrapper main .subpage__image img {
  width: 100%;
}
.mainWrapper main .subpage__image-blurred {
  display: none;
}
.mainWrapper main .subpage__texts {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
}
.mainWrapper main .subpage__title {
  margin: 50px 0;
  letter-spacing: 1px;
  font-size: 5rem;
  text-align: center;
  color: #0096ff;
  position: relative;
}
.mainWrapper main .subpage__title::before {
  content: "";
  display: block;
  position: absolute;
  right: -100%;
  left: 30%;
  bottom: -30%;
  height: 5px;
  background: #0096ff;
}
.mainWrapper main .subpage__paragraph {
  margin: 50px auto;
  width: 80%;
  letter-spacing: 1px;
  text-align: justify;
  line-height: 130%;
  font-size: 3rem;
  color: #0354ab;
  font-size: 1.8rem;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .mainWrapper main .subpage__paragraph {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1024px) {
  .mainWrapper main .subpage__title {
    font-size: 4rem;
  }
}
@media screen and (max-width: 900px) {
  .mainWrapper main .subpage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mainWrapper main .subpage__image {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .mainWrapper main .subpage__image::before {
    display: none;
  }
  .mainWrapper main .subpage__image img {
    width: 70%;
    -webkit-box-shadow: 0 0 10px 0 #333;
            box-shadow: 0 0 10px 0 #333;
  }
  .mainWrapper main .subpage__image img.subpage__image-blurred {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 120%;
    -webkit-filter: blur(5px);
            filter: blur(5px);
    z-index: -1;
  }
  .mainWrapper main .subpage__texts {
    width: 70%;
    padding: 0;
  }
  .mainWrapper main .subpage__paragraph {
    width: 100%;
    padding: 0;
  }
  .mainWrapper .footer {
    margin-top: 50px;
  }
}
@media screen and (max-width: 500px) {
  .mainWrapper main .subpage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mainWrapper main .subpage__title {
    font-size: 2.25rem;
  }
  .mainWrapper main .subpage__paragraph {
    font-size: 1.15rem;
  }
  .mainWrapper .footer {
    margin-top: 50px;
  }
}
@media screen and (max-width: 400px) {
  .mainWrapper main .subpage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mainWrapper main .subpage__image img {
    width: 100%;
  }
  .mainWrapper main .subpage__image-blurred {
    display: none;
  }
  .mainWrapper main .subpage__texts {
    width: 85%;
  }
  .mainWrapper main .subpage__title {
    font-size: 2rem;
  }
  .mainWrapper main .subpage__paragraph {
    font-size: 1rem;
  }
  .mainWrapper .footer {
    margin-top: 50px;
  }
}

[data-showsection=hide] {
  opacity: 0;
}

.showElement {
  -webkit-animation: showElement 1s;
          animation: showElement 1s;
}

@-webkit-keyframes showElement {
  from {
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes showElement {
  from {
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */